HASH=abc123

POSTGRES_PASSWORD=secret
PGVECTOR_PASSWORD=secrettoo

OPENAI_API_KEY=sk-123

LANGFLOW_VARIABLES_TO_GET_FROM_ENVIRONMENT=OPENAI_API_KEY
LANGFLOW_SUPERUSER=sang
LANGFLOW_SUPERUSER_PASSWORD=lorem123
LANGFLOW_URL=http://localhost:7860

WEBUI_URL=http://localhost:3000
